APP_NAME="Aula Virtual Smart Data"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://aula.tudominio.com

APP_LOCALE=es
APP_FALLBACK_LOCALE=es
APP_FAKER_LOCALE=es_PE

LOG_CHANNEL=stack
LOG_STACK=single
LOG_LEVEL=warning
PERF_LOG_SLOW_MS=800
PERF_LOG_SAMPLE_RATE=0.05

DB_CONNECTION=sqlite

SESSION_DRIVER=redis
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

CACHE_STORE=redis
QUEUE_CONNECTION=redis
REDIS_CLIENT=predis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS=soporte@sdc.pe
MAIL_FROM_NAME="${APP_NAME}"

WP_AUTH_BASE_URL=
WP_JWT_TOKEN_PATH=/wp-json/jwt-auth/v1/token
WP_JWT_VALIDATE_PATH=/wp-json/jwt-auth/v1/token/validate
WP_AUTH_TIMEOUT=10
WP_AUTH_VALIDATE_TIMEOUT=5
WP_AUTH_RETRY_TIMES=1
WP_AUTH_RETRY_SLEEP=200
WP_JWT_CACHE_TTL=60

AUTH_LOCKOUT_MAX_ATTEMPTS=5
AUTH_LOCKOUT_WINDOW=180
AUTH_LOCKOUT_INITIAL=180
AUTH_LOCKOUT_REPEAT=600
AUTH_LOCKOUT_PENALTY_TTL=86400

API_SERVICIOS_BASE_URL=http://api-nginx
INTERNAL_SERVICE_TOKEN=CAMBIAR_POR_TOKEN_LARGO_SEGURO
API_SERVICIOS_TIMEOUT=5
API_SERVICIOS_RETRY_TIMES=0
API_SERVICIOS_RETRY_SLEEP=200
API_SERVICIOS_SLOW_LOG_MS=800
API_SERVICIOS_LOG_SAMPLE_RATE=0
APP_DEBUG_API_BODY=false

GOOGLE_DRIVE_SERVICE_ACCOUNT_PATH=/run/secrets/aula/google-service-account.json
GOOGLE_DRIVE_LMS_FOLDER_ID=

CORRELATION_HEADER=X-Correlation-ID
